extends layout

block content

  h1= title
  p Welcome to #{title}

  ui#timelines
    li a
  
  br
  br
  br

  form(id="chatSend", action="")
    input(id="chatText", autocomplete="off")
    button(id="sendButton") 送信

  script.
    $(function () {
      var socket = io();
      $('form').submit(function() {
        socket.emit('chat message', $('#chatText').val());
        $('#chatText').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        console.log(msg);
        //$('#timeline').append($('li').text(msg));
        $('#timelines').append('<li>' + msg + '</li>');
      });
    });
